@import 'reset';
@import 'fonts/fonts';
@import 'variables/global';

body {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-family: var(--font-family-primary);
  color: var(--text-color);
  background-color: var(--bg-color);
}

.logo {
  position: absolute;
}

.card-button {
  position: absolute;
  right: 50px;
  transition: 0.2s ease;

  &:hover {
    fill: var(--dark-gray);
  }
}

.page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 25px 50px;
  position: relative;
  background-color: var(--bg-secondary-color);
}

#checkout-page {
  .page-title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: var(--font-family-secondary);
    font-weight: 300;
  }
  h2 {
    font-weight: 400;
  }

  @media (max-width: 900px) {
    .page-title {
      text-align: right;
      right: 50px;
      left: auto;
      transform: translateX(0%);
    }
  }
}

h1 {
  font-size: 60px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  line-height: 60px;
}
