:root {
  //FONTS
  --font-family-primary: NeueHaasUnicaPro;
  --font-family-secondary: CooperBTLight;

  --font-size-s: 13px;
  --font-line-s: 15px;

  --font-size-m: 18px;
  --font-line-m: 25px;

  --font-size-l: 25px;
  --font-line-l: 38px;

  //COLORS
  --bg-color: #fff;
  --bg-secondary-color: #f1eee9;
  --text-color: #000;
  --overlay-color: hsla(0, 0%, 0%, 0.6);

  --light-gray: #939393;
  --dark-gray: #606060;

  //RADIUSES
  --default-radius: 9px;

  //BORDERS
  --default-border: 1px solid var(--light-gray);

  // SIZES
  --header-height: 80px;
}
