.Cart {
  display: block;
  position: relative;
  padding: 0 10px;
  height: calc(100vh - 50px);
}

.cartTitle {
  font-family: var(--font-family-secondary);
  text-align: center;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 1;
}

.orderBlock {
  height: calc(100% - 125px);
}
