.orderBlock {
  width: 375px;
  height: 700px;
}

.orderDetails {
  background-color: var(--bg-color);
  padding: 25px 10px;
  height: 90%;
  border-radius: var(--default-radius);
  border: 1px solid var(--light-gray);
}

.content {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  gap: 100px;
  flex-wrap: wrap;
}

.orderPay {
  margin-top: 15px;
}
