.Button {
  outline: none;
  border: none;
  background-color: none;
  font-size: var(--font-size-m);
  font-family: var(--font-family-primary);

  &.primary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-l);
    background-color: var(--text-color);
    color: var(--bg-color);
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
    width: 100%;
    height: 50px;
    border-radius: 4px;
    .buttonContent {
      transform: translateX(-5%);
    }
  }

  &.clear {
    background-color: none;
  }

  &.icon {
    width: 30px;
    height: 30px;
    transition: 0.2s ease;
  }

  &:hover {
    cursor: pointer;
  }
}
