.Chip {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--bg-secondary-color);
  padding: 0 10px;
  gap: 10px;
  border-radius: var(--default-radius);
}

.deleteChip {
  width: 15px;
  height: 15px;
  font-size: 10px;
}
