.OrderTotal {
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
}

.option {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-weight: 300;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 10px;
}

.currency {
  font-size: 25px;
  color: var(--light-gray);
}

.bold {
  font-weight: 500;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
}
