.Input {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.inputField {
  width: 100%;
  height: 30px;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-weight: 300;
  padding: 0 5px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;

  &:focus {
    background-color: var(--bg-color);
  }
}

.inputLabel {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  padding: 0 5px;
  left: 5px;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-weight: 200;
  color: var(--gray);
  transition: all 0.2s ease;
}

.inputField:focus + .inputLabel,
.inputField:not(:placeholder-shown) + .inputLabel {
  font-size: 12px;
  top: 40px;
}

.inputField:focus {
  border-color: var(--primary-color);
  outline: none;
}
