/**
 * @license
 * MyFonts Webfont Build ID 3867246, 2020-12-16T11:57:38-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Cooper BT Light by Bitstream
 * URL: https://www.myfonts.com/products/std-light-cooper-434245
 * Copyright: Copyright © 2023 Monotype Imaging Inc. All rights reserved.
 * 
 * © 2023 MyFonts Inc. */

@font-face {
  font-family: 'CooperBTLight';
  src: url('@/shared/assets/fonts/CooperBTLight/font.woff2') format('woff2'),
    url('@/shared/assets/fonts/CooperBTLight/font.woff') format('woff');
}
