.YourDetails {
  margin-bottom: 50px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 80px);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  grid-template-areas:
    'email email'
    'phone description'
    'fName lName';

  @media (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 60px);
    grid-template-areas:
      'email'
      'phone'
      'description'
      'fName '
      'lName';
  }
}

.formItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 100%;
}

.email {
  grid-area: email;
}
.phone {
  grid-area: phone;
}
.description {
  grid-area: description;
  font-size: 18px;
  font-weight: 300;
}
.fName {
  grid-area: fName;
}
.lName {
  grid-area: lName;
}
