.OrderItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px dashed var(--light-gray);
  gap: 15px;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  background-position: center;
  background-size: 100% auto;
  columns: var(--light-gray);
  font-weight: 300;
  font-size: 12px;
  background-repeat: no-repeat;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-weight: 300;
}

.bottom {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
