.Sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  position: relative;
  opacity: 0;
  align-items: center;
  transition: 0.2s ease;
}

.content {
  position: absolute;
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 375px;
  height: 100vh;
  right: 0;
  padding: 25px 0;
  transform: translateX(100%);
  transition: 0.3s ease;
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;

  .overlay {
    opacity: 1;
  }

  .content {
    transform: translateX(0);
  }
}

.isClosing {
  .overlay {
    opacity: 0;
  }

  .content {
    transform: translateX(100%);
  }
}

.closeButton {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 2;
  background-color: var(--bg-color);

  &:hover {
    fill: var(--dark-gray);
  }
}
