.Counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

.control,
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  width: 25px;
  height: 25px;
  background-color: transparent;
}

.quantity {
  border-left: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
  margin-top: 1px;
}

.control {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  transition: 0.2s ease;

  &:hover {
    cursor: pointer;
    color: var(--light-gray);
  }
}
