.PromoCode {
  font-weight: 300;
}

.enterCodeBlock {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 25px 0;
}

.editableBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.button {
  background-color: transparent;
  text-decoration: underline;
  font-weight: 300;
}

.chipsBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.input {
  height: 40px;
  border-radius: 2px;
  border: 1px solid var(--light-gray);
  padding: 0 10px;
  font-weight: 300;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  outline: none;
}

.addCouponButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary-color);
  width: 120px;
  border-radius: 4px;
  border: 1px solid var(--light-gray);
}
