.DeliveryDetails {
  margin-bottom: 50px;
}

.radioField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px dashed var(--light-gray);
}

.option {
  display: flex;
  gap: 10px;
}
